<mat-toolbar color="primary" [ngClass]="{ mobile: toolbar === false }">
    <img [src]="logo" class="logo" alt="logo"/>
    <span class="fill-remaining-space"></span>
</mat-toolbar>
<div class="container">
    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="field-full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" [min]="minDate" [max]="maxDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div [hidden]="(filteredOptions$ | async)?.length === 0">
            <mat-form-field appearance="fill" class="field-full-width">
                <mat-label>Course</mat-label>
                <mat-select formControlName="course">
                    <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                        {{ option.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="field-full-width">
                <mat-label>Phone number</mat-label>
                <input matInput placeholder="Phone" formControlName="phone" />
                <span matPrefix>+41&nbsp;</span>
            </mat-form-field>
        </div>
        <mat-list *ngIf="course?.value?.id" class="details">
            <mat-list-item> <mat-icon matSuffix>schedule</mat-icon>{{ course?.value.timeStart }} </mat-list-item>
            <mat-list-item>
                <mat-icon matSuffix>event_available</mat-icon>{{ course?.value.availablePlaces }}/{{
                    course?.value.maxPlaces
                }}
            </mat-list-item>
            <mat-list-item> <mat-icon matSuffix>directions_run</mat-icon>{{ course?.value.instructor }} </mat-list-item>
        </mat-list>
        <button mat-raised-button color="primary" [disabled]="!form.valid">
            <mat-icon>notifications</mat-icon>
            {{ (filteredOptions$ | async)?.length !== 0 ? 'Get Notification' : 'No courses available' }}
        </button>
    </form>
</div>
